/* CSS Document */

body {
	background: #FFFFFF;
}

div {
	position: relative;
	width: 960px;
	margin: auto;
}

canvas {
	position: absolute;
	top: 0;	
}

#board {
	background: url(background.png);
	box-shadow: 0px 3px 10px #00DDFF;
	border-radius: 10px;
}